@import "tailwindcss";
@import "tw-animate-css";

@plugin "tailwind-clamp";

@custom-variant dark (&:is(.dark *));

@theme {
  --breakpoint-*: initial;
  --breakpoint-mobile-2: 390px;
  --breakpoint-tablet: 810px;
  --breakpoint-desktop-1: 1366px;
  --breakpoint-desktop-2: 1536px;
  --breakpoint-desktop-3: 1920px;

  --font-*: initial;
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  --text-*: initial;
  --text-sm: 0.9rem;
  --text-sm--line-height: 1rem;
  --text-base: 1.25rem;
  --text-base--line-height: 1.5rem;
  --text-md: 1.35rem;
  --text-md--line-height: 1.5rem;
  --text-lg: 1.5rem;
  --text-lg--line-height: 1.75rem;
  --text-xl: 1.75rem;
  --text-xl--line-height: 2rem;

  --drop-shadow-my-shadow: 0 0 6px oklch(50% 0 0);

  --animate-wobble: wobble 3s both infinite;
  --animate-kenburns-left: kenburns-left 15s 3s linear both;
  --animate-kenburns-right-invert: kenburns-right-invert 15s linear both;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground-1: var(--foreground-1);
  --color-foreground-2: var(--foreground-2);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-title: var(--font-title);
  --font-body: var(--font-body);

  --color-overlay: var(--overlay);
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.9846 0.0124 75.37);
  --foreground-1: oklch(0.4577 0.1201 43.65);
  --foreground-2: oklch(0.9846 0.0124 75.37);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.5243 0.0864 105.73);
  --accent-foreground: oklch(0.915 0.0251 75.26);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --overlay: oklch(0 0 0 / 70.2%);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  --overlay: oklch(0 0 0 / 70.2%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground-1;
  }
}

@layer components {
  .box-container {
    @apply desktop-1:w-[80%] desktop-1:max-w-341.5 desktop-1:mx-auto mx-auto max-w-[85%];
  }
}

@source "../components/";
@source "../widgets/";

.box-shadow {
  filter: drop-shadow(0 0 0.25rem #afaead);
}

/* Remove input number arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@keyframes wobble {
  0%,
  50% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  7% {
    transform: translateX(-7px) rotate(-3deg);
  }
  15% {
    transform: translateX(3px) rotate(3deg);
  }
  22% {
    transform: translateX(-3px) rotate(-1.8deg);
  }
  30% {
    transform: translateX(2px) rotate(1.2deg);
  }
  38% {
    transform: translateX(-1px) rotate(-0.6deg);
  }
}

@keyframes kenburns-left {
  0% {
    transform: scale(1) translate(0, 0);
    transform-origin: 16% 50%;
  }
  100% {
    transform: scale(2) translate(-20px, 15px);
    transform-origin: left;
  }
}

@keyframes kenburns-right-invert {
  0% {
    transform: scale(2) translate(0, 0);
    transform-origin: left;
  }
  100% {
    transform: scale(1) translate(0, 0);
    transform-origin: 16% 50%;
  }
}
