---
import MainLayout from "@layouts/MainLayout.astro";

import Header from "@components/sections/Header.astro";
import Footer from "@components/sections/Footer.astro";

const lang = "en";
---

<MainLayout lang={lang}>
  <p class="font-title">Title</p>
  <p class="font-body font-light">Body</p>
  <p class="font-body">Body</p>
  <p class="font-body font-bold">Body</p>
</MainLayout>
