---
import type { lang } from "@interfaces/lang";

import labels from "@lang/global.json";
import config from "@data/config.json";

import DatePicker from "@/widgets/DatePicker.astro";
import Button from "@widgets/Button.astro";

interface Props {
  lang: lang;
}

const { lang } = Astro.props;
---

<footer class="bg-overlay absolute bottom-0 w-dvw py-4 desktop-1:hidden">
  <div class="flex flex-row items-center justify-center gap-x-2">
    <DatePicker lang={lang} placeHolder={labels[lang].DATE_RANGE} />
    <Button href={config[lang].URL_SITEMINDER} target="_blank" xClass="btnBooking">{labels[lang].BOOKING}</Button>
  </div>
</footer>
