---
import type { lang } from "@interfaces/lang";
import Menu from "@components/sections/Menu.astro";

interface Props {
  lang: lang;
}

const { lang } = Astro.props;
---


<header class="absolute top-0 w-dvw">
  <!-- BEGIN MOBILE HEADER -->
  <div id="header-mobile">
    <Menu lang={lang} />
  </div>
  <!-- END MOBILE HEADER -->
</header>