---
import MainLayout from "@layouts/MainLayout.astro";

import Header from "@components/sections/Header.astro";
import Footer from "@components/sections/Footer.astro";

const lang = "es";
---

<MainLayout lang={lang}>
  <p class="font-title">Título</p>
  <p class="font-body font-light">Cuerpo</p>
  <p class="font-body">Cuerpo</p>
  <p class="font-body font-bold">Cuerpo</p>
</MainLayout>
