---
import type { ImageMetadata } from "astro";

import { twMerge } from "tailwind-merge";
import { Picture } from "astro:assets";

interface Props {
  image: ImageMetadata;
  divClass?: string;
  imgClass?: string;
  [key: string]: string | ImageMetadata | undefined;
}

const { image, divClass, imgClass, ...props } = Astro.props;
---

<div class={twMerge("bg-white shadow-black/10 shadow-lg", divClass)} {...props}>
  <Picture
    src={image}
    formats={["avif", "webp"]}
    alt=""
    class={twMerge("p-5 w-full", imgClass)}
  />
</div>
